// Override this file to add your own SCSS styling.

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 30px;
  font-weight: bold;
}


body {
  margin-top: 100px !important;
  color: #172A3A;
}
.navbar {
  min-height: 100px !important;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  letter-spacing: 0.04em;
  color: #172A3A;
}


