// Override this file to add your own SCSS styling.

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 30px;
  font-weight: bold;
}

/* links */

a:active, 
a:focus, 
a:hover {
  color: #004346;
}

/* nav */

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #06805E;
}

.navbar {
  box-shadow: none;
  text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .9em;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
	letter-spacing: .1em;
}

body {
  margin-top: 100px !important;
  color: #172A3A;
}
.navbar {
  min-height: 100px !important;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  letter-spacing: 0.04em;
  color: #172A3A;
}

.page-link {
	color: #004346;
	background-color: #F0F7FA;
	border: 1px solid #004346;
  border-radius: 0px; /*undo rounded corners*/

}

.page-link:hover {
	color: #fff;
	background-color: #004346;
	border-color: #004346;
}
img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

iframe {
	border: 0;
}

/* home page */

.portrait-title h2 {
  color: #333;
}

#about .col-12.col-lg-8 {
  padding-top: 30px !important;
}

.network-icon li:hover {
  transform: scale(1.05);
}

.home-section:first-of-type {
  padding: 50px 0 50px 0;
}

.home-section:not(:first-of-type) {
  padding: 25px 0 50px 0; 
}

/* buttons */

.btn.btn-sm, .btn-group-sm > .btn {
  border-radius: 0rem; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn {
  font-family: Lora;
  text-transform: lowercase;
  font-style: italic;
  border-radius: 0px;
}

.btn-toolbar .btn:first-child {
  border-radius: 0px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0px;
}

.btn-toolbar {
  justify-content: center;
}

/* section headers */

div.universal-wrapper.pt-3 h1 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}
