// Override this file to add your own SCSS styling.

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 30px;
  font-weight: bold;
}


body {
  margin-top: 100px !important;
  color: #172A3A;
}
.navbar {
  min-height: 100px !important;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
  letter-spacing: 0.04em;
  color: #172A3A;
}

.page-link {
	color: #004346;
	background-color: #F0F7FA;
	border: 1px solid #004346;
  border-radius: 0px; /*undo rounded corners*/

}

.page-link:hover {
	color: #fff;
	background-color: #004346;
	border-color: #004346;
}
img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

iframe {
	border: 0;
}

/* home page */

.portrait-title h2 {
  color: #333;
}

#about .col-12.col-lg-8 {
  padding-top: 30px !important;
}

.network-icon li:hover {
  transform: scale(1.05);
}

.home-section:first-of-type {
  padding: 50px 0 50px 0;
}

.home-section:not(:first-of-type) {
  padding: 25px 0 50px 0; 
}

